@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */

#menuitem
{
   font-family: 'Dosis', sans-serif;
	border: none;
	background-color: white;
	opacity: 0%
	margin-left: 8%;
	margin-top:40px;
	padding: 10px;
	width: 100%;
	height:150px;
	border: solid grey;
	border-color:
	font-style: italic;
	font:bolder;
	font-size: 50px;
	text-align: left;
    padding-left:20px;
    

}

#menuitem:hover
{
   font-family: 'Dosis', sans-serif;
	border: none;
	background-color: #FF7575;
	opacity: 0%
	margin-left: 8%;
	margin-top:40px;
	padding: 10px;
	width: 100%;
	height:150px;
	border: solid grey;
	border-color:
	font-style: italic;
	font:bolder;
	font-size: 50px;
	text-align: left;
    padding-left:20px;
    

}

progress-bar {
02
  position: relative;
03
  height: 100px;
04
  width: 100px;
05
}
06
 
07
.progress-bar div {
08
  position: absolute;
09
  height: 100px;
10
  width: 100px;
11
  border-radius: 50%;
12
}
13
 
14
.progress-bar div span {
15
  position: absolute;
16
  font-family: Arial;
17
  font-size: 25px;
18
  line-height: 75px;
19
  height: 75px;
20
  width: 75px;
21
  left: 12.5px;
22
  top: 12.5px;
23
  text-align: center;
24
  border-radius: 50%;
25
  background-color: white;
26
}
27
 
28
.progress-bar .background { background-color: #b3cef6; }
29
 
30
.progress-bar .rotate {
31
  clip: rect(0 50px 100px 0);
32
  background-color: #4b86db;
33
}
34
 
35
.progress-bar .left {
36
  clip: rect(0 50px 100px 0);
37
  opacity: 1;
38
  background-color: #b3cef6;
39
}
40
 

.progress-bar .right {

  clip: rect(0 50px 100px 0);

  transform: rotate(180deg);

  opacity: 0;

  background-color: #4b86db;

}

 

@keyframes

toggle {  0% {

 opacity: 0;

}

 100% {

 opacity: 1;

}
]
}

}